In [14]:
from sqlalchemy import create_engine
import pandas as pd

user = 'jupyter_user'
password = '666-Zelda'
host = 'localhost'
port = '3306'
database = 'football'

engine = create_engine(f"mysql+mysqlconnector://{user}:{password}@{host}/{database}")

In [15]:
engine.connect()

In [16]:
with open('Football.sql', 'r', encoding='utf-8') as f:
    sql_script = f.read()

import mysql.connector

conn = mysql.connector.connect(
    host=host,
    user=user,
    password=password,
    database=database
)

cursor = conn.cursor()
for statement in sql_script.split(';'):
    if statement.strip():
        cursor.execute(statement)
conn.commit()
cursor.close()
conn.close()

In [4]:
df = pd.read_sql("SELECT * FROM players", engine)
df

,player_id,team_id,name,position,date_of_birth,nationality
0,2,264,Juanmi,Offence,1993-05-20,Spain
1,8,90,Willian Jose,Offence,1991-11-23,Brazil
2,9,100,Diego Llorente,Defence,1993-08-16,Spain
3,11,92,Alvaro Odriozola,Defence,1995-12-14,Spain
4,14,586,Antonio Sanabria,Offence,1996-03-04,Paraguay
...,...,...,...,...,...,...
3145,252916,455,Luca Boncori,Offence,2006-02-21,Italy
3146,252918,450,Junior Ajayi,Offence,2004-10-11,Ivory Coast
3147,252993,558,Yoel Lago,Midfield,2004-03-25,Spain
3148,253001,558,Javi Rueda,Defence,2002-05-08,Spain
3149,253004,264,Borja Vazquez,Offence,2005-01-18,Spain

In [5]:
player_nationality = pd.read_sql('SELECT * FROM players WHERE nationality = "Scotland"', engine)
player_nationality

    player_id  team_id              name    position date_of_birth nationality
0        4359      356   Oliver McBurnie     Offence    1996-06-04    Scotland
1        5552      389       Jacob Brown     Offence    1998-04-10    Scotland
2        7846       55     Fraser Hornby    Midfield    1999-09-13    Scotland
3        7868       64  Andrew Robertson     Defence    1994-03-11    Scotland
4        7905       66   Scott McTominay    Midfield    1996-12-08    Scotland
5        7930       67      Matt Ritchie     Defence    1989-09-10    Scotland
6       15615       92    Kieran Tierney     Defence    1997-06-05    Scotland
7       34495     1044     Ryan Christie    Midfield    1995-02-22    Scotland
8       34638      103    Lewis Ferguson    Midfield    1999-08-24    Scotland
9       34646       58       John McGinn    Midfield    1994-10-18    Scotland
10     101111      402      Aaron Hickey     Defence    2002-01-01    Scotland
11     107330       67   Elliot Anderson    Midfield    2002-11-06    Scotland
12     122407      471         Josh Doig     Defence    2002-01-01    Scotland
13     126289      397     Billy Gilmour    Midfield    2001-06-11    Scotland
14     138174       62  Nathan Patterson     Defence    2001-10-16    Scotland
15     176789       64          Ben Doak     Offence    2005-11-11    Scotland
16     176806      402  Vincent Angelini  Goalkeeper    2003-09-12    Scotland
17     177513       67    Lucas De Bolle    Midfield    2002-10-22    Scotland
18     226992      356          Ryan One     Offence    2006-06-26    Scotland
19     245341      356       Evan Easton     Defence    2005-01-14    Scotland
20     246451     1044    Callan McKenna  Goalkeeper    2006-12-22    Scotland

In [6]:
player_by_team = pd.read_sql("SELECT p.name,p.position,p.nationality,p.date_of_birth,t.name AS team_name FROM players p LEFT JOIN teams t ON p.team_id = t.team_id ORDER BY t.name", engine)
player_by_team

,name,position,nationality,date_of_birth,team_name
0,Seedy Jarju,Defence,Gambia,2004-10-28,1. FC Heidenheim 1846
1,Luka Janes,Midfield,Germany,2004-01-19,1. FC Heidenheim 1846
2,Elidon Qenaj,Offence,Germany,2003-05-22,1. FC Heidenheim 1846
3,Christopher Negele,Offence,Germany,2005-04-11,1. FC Heidenheim 1846
4,Adrian Beck,Midfield,Germany,1997-06-09,1. FC Heidenheim 1846
...,...,...,...,...,...
3145,Craig Dawson,Defence,England,1990-05-06,Wolverhampton Wanderers
3146,Thomas King,Goalkeeper,Wales,1995-03-09,Wolverhampton Wanderers
3147,Pedro Neto,Offence,Portugal,2000-03-09,Wolverhampton Wanderers
3148,Hwang Heechan,Offence,South Korea,1996-01-26,Wolverhampton Wanderers
3149,Nelson Semedo,Defence,Portugal,1993-11-16,Wolverhampton Wanderers

In [7]:
df['nationality'].value_counts()

nationality
Spain         506
France        402
Germany       319
England       300
Italy         299
             ...
Andorra         1
Burundi         1
Panama          1
Honduras        1
Luxembourg      1
Name: count, Length: 107, dtype: int64

In [25]:
immigrants_league = pd.read_sql(
    """
    WITH player_data AS (
        SELECT 
            p.player_id,
            p.name AS player_name,
            p.nationality,
            t.team_id,
            t.name AS team_name,
            s.position AS team_ranking,
            l.league_id,
            l.name AS league_name,
            CASE
                WHEN l.name = 'Premier League' AND p.nationality IN ('England', 'Wales') THEN 0
                WHEN l.name = 'Serie A' AND p.nationality = 'Italy' THEN 0
                WHEN l.name = 'La Liga' AND p.nationality = 'Spain' THEN 0
                WHEN l.name = 'Bundesliga' AND p.nationality = 'Germany' THEN 0
                WHEN l.name = 'Ligue 1' AND p.nationality = 'France' THEN 0
                ELSE 1
            END AS is_immigrant
        FROM players p
        JOIN teams t ON p.team_id = t.team_id
        JOIN leagues l ON t.league_id = l.league_id
        JOIN standings s ON t.team_id = s.team_id
    ),
    league_stats AS (
        SELECT 
            league_name,
            COUNT(*) AS total_players,
            SUM(is_immigrant) AS immigrant_players,
            ROUND(100.0 * SUM(is_immigrant) / COUNT(*), 2) AS immigrant_percentage
        FROM player_data
        GROUP BY league_name
    )
    SELECT 
        league_name,
        total_players,
        immigrant_players,
        immigrant_percentage
    FROM league_stats
    ORDER BY immigrant_percentage DESC
    """,
    engine
)

immigrants_league

      league_name  total_players  immigrant_players  immigrant_percentage
0         Serie A            673              388.0                 57.65
1  Premier League            636              361.0                 56.76
2         Ligue 1            554              273.0                 49.28
3      Bundesliga            555              262.0                 47.21
4         La Liga            694              246.0                 35.45

In [39]:
immigrants_team = pd.read_sql(
    """
    WITH player_data AS (
        SELECT 
            p.player_id,
            p.name AS player_name,
            p.nationality,
            t.team_id,
            t.name AS team_name,
            s.position AS team_ranking,
            l.league_id,
            l.name AS league_name,
            CASE
                WHEN l.name = 'Premier League' AND p.nationality IN ('England', 'Wales') THEN 0
                WHEN l.name = 'Serie A' AND p.nationality = 'Italy' THEN 0
                WHEN l.name = 'La Liga' AND p.nationality = 'Spain' THEN 0
                WHEN l.name = 'Bundesliga' AND p.nationality = 'Germany' THEN 0
                WHEN l.name = 'Ligue 1' AND p.nationality = 'France' THEN 0
                ELSE 1
            END AS is_immigrant
        FROM players p
        JOIN standings s ON s.team_id = p.team_id
        JOIN teams t ON p.team_id = t.team_id
        JOIN leagues l ON t.league_id = l.league_id
    ),
    nationality_counts AS (
        SELECT 
            team_name,
            league_name,
            nationality,
            COUNT(*) AS num_players
        FROM player_data
        GROUP BY team_name, league_name, nationality
    ),
    nationality_summary AS (
        SELECT 
            team_name,
            league_name,
            GROUP_CONCAT(CONCAT(nationality, ' (', num_players, ')') ORDER BY num_players DESC SEPARATOR ', ') AS player_nationality_breakdown
        FROM nationality_counts
        GROUP BY team_name, league_name
    ),
    team_stats AS (
        SELECT 
            league_name,
            team_name,
            team_ranking,
            COUNT(*) AS team_total_players,
            SUM(is_immigrant) AS team_immigrant_players,
            ROUND(100 * SUM(is_immigrant) / COUNT(*), 2) AS team_immigrant_percentage
        FROM player_data
        GROUP BY league_name, team_name, team_ranking
    )
    SELECT 
        ts.league_name,
        ts.team_name,
        ts.team_ranking,
        ts.team_total_players,
        ts.team_immigrant_players,
        ts.team_immigrant_percentage,
        ns.player_nationality_breakdown
    FROM team_stats ts
    JOIN nationality_summary ns
      ON ts.team_name = ns.team_name AND ts.league_name = ns.league_name
    ORDER BY ts.league_name, ts.team_immigrant_percentage DESC
    """,
    engine)

pd.set_option('display.max_rows', None)
immigrants_team.head(1000)

,league_name,team_name,team_ranking,team_total_players,team_immigrant_players,team_immigrant_percentage,player_nationality_breakdown
0,Bundesliga,Bayer 04 Leverkusen,1,29,20.0,68.97,"Germany (9), Czech Republic (3), Netherlands (..."
1,Bundesliga,RB Leipzig,4,27,18.0,66.67,"Germany (9), France (3), Austria (3), Netherla..."
2,Bundesliga,VfL Wolfsburg,12,29,18.0,62.07,"Germany (11), Belgium (3), Denmark (2), Sweden..."
3,Bundesliga,Eintracht Frankfurt,6,37,22.0,59.46,"Germany (15), France (4), Ecuador (2), Sweden ..."
4,Bundesliga,FC Bayern Munchen,3,35,20.0,57.14,"Germany (15), France (4), Morocco (2), England..."
5,Bundesliga,Borussia Monchengladbach,14,32,18.0,56.25,"Germany (14), France (5), USA (2), Switzerland..."
6,Bundesliga,1. FC Union Berlin,15,27,15.0,55.56,"Germany (12), Denmark (3), France (2), Tunisia..."
7,Bundesliga,SV Werder Bremen,9,30,15.0,50.00,"Germany (15), Austria (2), Belgium (2), France..."
8,Bundesliga,FC Augsburg,11,30,14.0,46.67,"Germany (16), Switzerland (2), Croatia (2), Ne..."
9,Bundesliga,VfL Bochum 1848,16,30,14.0,46.67,"Germany (16), Ghana (2), Brazil (2), Slovakia ..."
10,Bundesliga,Borussia Dortmund,5,33,15.0,45.45,"Germany (18), England (2), Netherlands (2), Sp..."
11,Bundesliga,TSG 1899 Hoffenheim,7,29,13.0,44.83,"Germany (16), Netherlands (2), Czech Republic ..."
12,Bundesliga,VfB Stuttgart,2,32,13.0,40.63,"Germany (19), France (4), Japan (3), Denmark (..."
13,Bundesliga,SC Freiburg,10,33,13.0,39.39,"Germany (20), Austria (3), France (2), Hungary..."
14,Bundesliga,SV Darmstadt 98,18,31,12.0,38.71,"Germany (19), Austria (3), Croatia (2), Sweden..."
15,Bundesliga,1. FSV Mainz 05,13,32,11.0,34.38,"Germany (21), France (3), Austria (2), Switzer..."
16,Bundesliga,1. FC Koln,17,30,7.0,23.33,"Germany (23), Denmark (2), Austria (2), Bosnia..."
17,Bundesliga,1. FC Heidenheim 1846,8,29,4.0,13.79,"Germany (25), Austria (2), USA (1), Gambia (1)"
18,La Liga,Real Madrid CF,1,36,18.0,50.00,"Spain (18), France (4), Brazil (4), Germany (2..."
19,La Liga,Sevilla FC,14,42,20.0,47.62,"Spain (22), Argentina (4), France (4), Belgium..."
20,La Liga,Club Atletico de Madrid,4,38,18.0,47.37,"Spain (20), Brazil (3), Argentina (3), France ..."
21,La Liga,Rayo Vallecano de Madrid,17,26,12.0,46.15,"Spain (14), France (2), Albania (1), North Mac..."
22,La Liga,UD Almeria,19,31,14.0,45.16,"Spain (17), Argentina (2), Serbia (2), Mali (1..."
23,La Liga,Real Betis Balompie,7,36,16.0,44.44,"Spain (20), Argentina (3), Portugal (3), Franc..."
24,La Liga,Getafe CF,12,35,14.0,40.00,"Spain (21), Uruguay (2), England (1), Ireland ..."
25,La Liga,FC Barcelona,2,36,14.0,38.89,"Spain (22), Brazil (2), Portugal (2), Germany ..."
26,La Liga,Granada CF,20,37,14.0,37.84,"Spain (23), Uruguay (3), Argentina (2), Poland..."
27,La Liga,Cadiz CF,18,41,15.0,36.59,"Spain (26), Mali (4), Argentina (2), Uruguay (..."
28,La Liga,Deportivo Alaves,10,36,13.0,36.11,"Spain (23), Argentina (3), Romania (1), Urugua..."
29,La Liga,Girona FC,3,31,11.0,35.48,"Spain (20), Venezuela (2), Ukraine (2), Brazil..."
30,La Liga,Villarreal CF,8,37,12.0,32.43,"Spain (25), France (2), Andorra (1), Ivory Coa..."
31,La Liga,RCD Mallorca,15,31,10.0,32.26,"Spain (21), Serbia (3), Slovakia (2), Kosovo (..."
32,La Liga,RC Celta de Vigo,13,38,12.0,31.58,"Spain (26), Sweden (2), Argentina (2), Greece ..."
33,La Liga,UD Las Palmas,16,35,11.0,31.43,"Spain (24), Argentina (2), Equatorial Guinea (..."
34,La Liga,Valencia CF,9,34,9.0,26.47,"Spain (25), Portugal (2), Ghana (1), Turkey (1..."
35,La Liga,Real Sociedad de Futbol,6,35,9.0,25.71,"Spain (26), Venezuela (1), Japan (1), Mali (1)..."
36,La Liga,CA Osasuna,11,29,3.0,10.34,"Spain (26), Greece (1), Croatia (1), Colombia (1)"
37,La Liga,Athletic Club,5,30,1.0,3.33,"Spain (29), Ghana (1)"
38,Ligue 1,Olympique Lyonnais,6,29,20.0,68.97,"France (9), Brazil (3), Ivory Coast (2), Belgi..."
39,Ligue 1,Toulouse FC,11,33,22.0,66.67,"France (11), Netherlands (3), Denmark (2), Alg..."
40,Ligue 1,FC Metz,16,29,19.0,65.52,"France (10), Senegal (7), Algeria (2), Ivory C..."
41,Ligue 1,Olympique de Marseille,8,41,26.0,63.41,"France (15), Cameroon (3), Senegal (3), Belgiu..."
42,Ligue 1,AS Monaco FC,2,31,19.0,61.29,"France (12), Switzerland (3), Algeria (2), Sen..."
43,Ligue 1,FC Lorient,17,33,19.0,57.58,"France (14), Senegal (3), DR Congo (2), Camero..."
44,Ligue 1,Paris Saint-Germain FC,1,33,19.0,57.58,"France (14), Portugal (6), Spain (5), Brazil (..."
45,Ligue 1,Lille OSC,4,36,20.0,55.56,"France (16), Portugal (4), Algeria (2), Brazil..."
46,Ligue 1,Stade de Reims,9,18,10.0,55.56,"France (8), Belgium (3), Ivory Coast (2), Sene..."
47,Ligue 1,Clermont Foot 63,18,29,13.0,44.83,"France (16), Mali (2), Jamaica (1), Gabon (1),..."
48,Ligue 1,Le Havre AC,15,29,12.0,41.38,"France (17), Morocco (3), Senegal (2), Guinea ..."
49,Ligue 1,RC Strasbourg Alsace,13,33,13.0,39.39,"France (20), Ivory Coast (4), Brazil (2), Pola..."
50,Ligue 1,Montpellier HSC,12,31,12.0,38.71,"France (19), Switzerland (2), Mali (2), Jordan..."
51,Ligue 1,Stade Rennais FC 1901,10,28,10.0,35.71,"France (18), Cameroon (2), Japan (1), Netherla..."
52,Ligue 1,Racing Club de Lens,7,31,11.0,35.48,"France (20), Belgium (1), Ecuador (1), Uzbekis..."
53,Ligue 1,FC Nantes,14,35,12.0,34.29,"France (23), Cameroon (2), Spain (1), Comoros ..."
54,Ligue 1,OGC Nice,5,29,9.0,31.03,"France (20), Ivory Coast (1), Brazil (1), Buru..."
55,Ligue 1,Stade Brestois 29,3,26,7.0,26.92,"France (19), Portugal (1), Mali (1), Uruguay (..."
56,Premier League,Fulham,13,29,23.0,79.31,"England (5), Brazil (3), USA (2), Nigeria (2),..."
57,Premier League,Burnley,19,30,23.0,76.67,"England (7), Belgium (5), France (4), Ireland ..."
58,Premier League,Brentford,16,36,27.0,75.00,"England (9), Denmark (5), Ireland (2), Nigeria..."
59,Premier League,Nottingham Forest,17,32,23.0,71.88,"England (7), Brazil (3), Belgium (2), Portugal..."
60,Premier League,Manchester City,1,27,17.0,62.96,"England (10), Portugal (3), Spain (3), Norway ..."
61,Premier League,Tottenham Hotspur,5,32,20.0,62.50,"England (10), Spain (3), Brazil (2), Italy (2)..."
62,Premier League,Liverpool,3,38,23.0,60.53,"England (14), Spain (3), Netherlands (3), Pola..."
63,Premier League,Brighton & Hove Albion,11,38,23.0,60.53,"England (15), Ireland (3), Netherlands (3), Br..."
64,Premier League,Arsenal,2,32,19.0,59.38,"England (12), Portugal (3), Brazil (3), Japan ..."
65,Premier League,Manchester United,8,34,20.0,58.82,"England (14), Argentina (2), Brazil (2), Franc..."
66,Premier League,Aston Villa,4,34,20.0,58.82,"England (14), France (4), Spain (3), Brazil (2..."
67,Premier League,AFC Bournemouth,12,31,18.0,58.06,"England (12), Scotland (2), Ireland (2), Wales..."
68,Premier League,Wolverhampton Wanderers,14,32,17.0,53.13,"England (14), Portugal (4), Brazil (2), France..."
69,Premier League,West Ham United,9,29,14.0,48.28,"England (15), Czech Republic (2), Italy (2), F..."
70,Premier League,Chelsea,6,47,20.0,42.55,"England (27), France (7), Brazil (2), Spain (2..."
71,Premier League,Crystal Palace,10,33,14.0,42.42,"England (19), France (4), Colombia (2), Ghana ..."
72,Premier League,Luton Town,18,35,14.0,40.00,"England (19), Wales (2), Belgium (2), Netherla..."
73,Premier League,Newcastle United,7,38,15.0,39.47,"England (22), Scotland (3), Sweden (2), Brazil..."
74,Premier League,Everton,15,29,11.0,37.93,"England (18), Portugal (4), Senegal (1), Mali ..."
75,Serie A,Udinese Calcio,15,34,28.0,82.35,"Italy (6), Slovenia (4), Argentina (4), Nigeri..."
76,Serie A,US Lecce,14,29,22.0,75.86,"Italy (7), France (4), Albania (3), Romania (2..."
77,Serie A,Genoa CFC,11,31,21.0,67.74,"Italy (10), Norway (2), Spain (2), Suriname (1..."
78,Serie A,Torino FC,9,34,23.0,67.65,"Italy (11), Serbia (3), France (2), Poland (1)..."
79,Serie A,Bologna FC 1909,5,30,20.0,66.67,"Italy (10), Switzerland (3), Denmark (2), Pola..."
80,Serie A,SSC Napoli,10,29,19.0,65.52,"Italy (10), Brazil (2), Poland (2), Belgium (2..."
81,Serie A,Hellas Verona FC,13,33,20.0,60.61,"Italy (13), France (3), Netherlands (2), Polan..."
82,Serie A,AC Milan,2,38,23.0,60.53,"Italy (15), France (7), USA (2), England (2), ..."
83,Serie A,AS Roma,6,38,23.0,60.53,"Italy (15), Spain (4), Portugal (3), England (..."
84,Serie A,FC Internazionale Milano,1,32,19.0,59.38,"Italy (13), France (3), Netherlands (3), Germa..."
85,Serie A,US Salernitana 1919,20,39,23.0,58.97,"Italy (16), France (4), Argentina (3), Croatia..."
86,Serie A,Frosinone Calcio,18,36,20.0,55.56,"Italy (16), Brazil (3), Morocco (3), Argentina..."
87,Serie A,SS Lazio,7,33,17.0,51.52,"Italy (16), Spain (4), Brazil (1), Montenegro ..."
88,Serie A,US Sassuolo Calcio,19,33,17.0,51.52,"Italy (16), Norway (3), Albania (2), Brazil (2..."
89,Serie A,Cagliari Calcio,16,30,15.0,50.00,"Italy (15), Uruguay (1), Colombia (1), Slovaki..."
90,Serie A,Atalanta BC,4,38,19.0,50.00,"Italy (19), Netherlands (4), Argentina (2), Sw..."
91,Serie A,ACF Fiorentina,8,32,16.0,50.00,"Italy (16), Argentina (4), France (3), Brazil ..."
92,Serie A,Juventus FC,3,37,18.0,48.65,"Italy (19), Brazil (4), Poland (2), France (2)..."
93,Serie A,Empoli FC,17,33,15.0,45.45,"Italy (18), Poland (3), Albania (3), Romania (..."
94,Serie A,AC Monza,12,34,10.0,29.41,"Italy (24), Portugal (2), Greece (1), France (..."