In [14]:
from sqlalchemy import create_engine
import pandas as pd

user = 'jupyter_user'
password = '666-Zelda'
host = 'localhost'
port = '3306'
database = 'football'

engine = create_engine(f"mysql+mysqlconnector://{user}:{password}@{host}/{database}")

In [15]:
engine.connect()

In [16]:
with open('Football.sql', 'r', encoding='utf-8') as f:
    sql_script = f.read()

import mysql.connector

conn = mysql.connector.connect(
    host=host,
    user=user,
    password=password,
    database=database
)

cursor = conn.cursor()
for statement in sql_script.split(';'):
    if statement.strip():
        cursor.execute(statement)
conn.commit()
cursor.close()
conn.close()

In [4]:
df = pd.read_sql("SELECT * FROM players", engine)
df

,player_id,team_id,name,position,date_of_birth,nationality
0,2,264,Juanmi,Offence,1993-05-20,Spain
1,8,90,Willian Jose,Offence,1991-11-23,Brazil
2,9,100,Diego Llorente,Defence,1993-08-16,Spain
3,11,92,Alvaro Odriozola,Defence,1995-12-14,Spain
4,14,586,Antonio Sanabria,Offence,1996-03-04,Paraguay
...,...,...,...,...,...,...
3145,252916,455,Luca Boncori,Offence,2006-02-21,Italy
3146,252918,450,Junior Ajayi,Offence,2004-10-11,Ivory Coast
3147,252993,558,Yoel Lago,Midfield,2004-03-25,Spain
3148,253001,558,Javi Rueda,Defence,2002-05-08,Spain
3149,253004,264,Borja Vazquez,Offence,2005-01-18,Spain

In [5]:
player_nationality = pd.read_sql('SELECT * FROM players WHERE nationality = "Scotland"', engine)
player_nationality

    player_id  team_id              name    position date_of_birth nationality
0        4359      356   Oliver McBurnie     Offence    1996-06-04    Scotland
1        5552      389       Jacob Brown     Offence    1998-04-10    Scotland
2        7846       55     Fraser Hornby    Midfield    1999-09-13    Scotland
3        7868       64  Andrew Robertson     Defence    1994-03-11    Scotland
4        7905       66   Scott McTominay    Midfield    1996-12-08    Scotland
5        7930       67      Matt Ritchie     Defence    1989-09-10    Scotland
6       15615       92    Kieran Tierney     Defence    1997-06-05    Scotland
7       34495     1044     Ryan Christie    Midfield    1995-02-22    Scotland
8       34638      103    Lewis Ferguson    Midfield    1999-08-24    Scotland
9       34646       58       John McGinn    Midfield    1994-10-18    Scotland
10     101111      402      Aaron Hickey     Defence    2002-01-01    Scotland
11     107330       67   Elliot Anderson    Midfield    2002-11-06    Scotland
12     122407      471         Josh Doig     Defence    2002-01-01    Scotland
13     126289      397     Billy Gilmour    Midfield    2001-06-11    Scotland
14     138174       62  Nathan Patterson     Defence    2001-10-16    Scotland
15     176789       64          Ben Doak     Offence    2005-11-11    Scotland
16     176806      402  Vincent Angelini  Goalkeeper    2003-09-12    Scotland
17     177513       67    Lucas De Bolle    Midfield    2002-10-22    Scotland
18     226992      356          Ryan One     Offence    2006-06-26    Scotland
19     245341      356       Evan Easton     Defence    2005-01-14    Scotland
20     246451     1044    Callan McKenna  Goalkeeper    2006-12-22    Scotland

In [6]:
player_by_team = pd.read_sql("SELECT p.name,p.position,p.nationality,p.date_of_birth,t.name AS team_name FROM players p LEFT JOIN teams t ON p.team_id = t.team_id ORDER BY t.name", engine)
player_by_team

,name,position,nationality,date_of_birth,team_name
0,Seedy Jarju,Defence,Gambia,2004-10-28,1. FC Heidenheim 1846
1,Luka Janes,Midfield,Germany,2004-01-19,1. FC Heidenheim 1846
2,Elidon Qenaj,Offence,Germany,2003-05-22,1. FC Heidenheim 1846
3,Christopher Negele,Offence,Germany,2005-04-11,1. FC Heidenheim 1846
4,Adrian Beck,Midfield,Germany,1997-06-09,1. FC Heidenheim 1846
...,...,...,...,...,...
3145,Craig Dawson,Defence,England,1990-05-06,Wolverhampton Wanderers
3146,Thomas King,Goalkeeper,Wales,1995-03-09,Wolverhampton Wanderers
3147,Pedro Neto,Offence,Portugal,2000-03-09,Wolverhampton Wanderers
3148,Hwang Heechan,Offence,South Korea,1996-01-26,Wolverhampton Wanderers
3149,Nelson Semedo,Defence,Portugal,1993-11-16,Wolverhampton Wanderers

In [51]:
continent_map = {
    'Europe': [
        'England', 'Germany', 'Switzerland', 'Spain', 'Netherlands', 'Portugal',
        'Croatia', 'Belgium', 'Norway', 'France', 'Poland', 'Italy', 'Wales',
        'Ireland', 'Greece', 'Scotland', 'Northern Ireland', 'Hungary', 'Romania',
        'Denmark', 'Israel', 'Serbia', 'Finland', 'Slovakia', 'Turkey', 'Czech Republic',
        'Albania', 'Iceland', 'Kosovo', 'Bosnia-Herzegovina', 'Lithuania',
        'Austria', 'Armenia', 'Luxembourg', 'North Macedonia', 'Slovenia',
        'Russia', 'Bulgaria', 'Montenegro', 'Georgia', 'Cyprus', 'Andorra', 'Sweden', 'Ukraine', 'Estonia'
    ],
    'South America': [
        'Brazil', 'Argentina', 'Colombia', 'French Guiana', 'Uruguay', 'Paraguay', 'Ecuador',
        'Chile', 'Peru', 'Venezuela', 'Suriname'
    ],
    'Africa': [
        'Ghana', 'Egypt', 'Cameroon', 'Mali', 'Senegal', 'Morocco', 'Ivory Coast',
        'Nigeria', 'DR Congo', 'Algeria', 'Gabon', 'Zimbabwe', 'Tunisia', 'Togo',
        'Guinea', 'Angola', 'Congo', 'Zambia', 'Equatorial Guinea',
        'Mozambique', 'Benin', 'Cape Verde Islands', 'Comoros',
        'Central African Republic', 'Burundi', 'Guinea-Bissau', 'Kenya', 'Burkina Faso', 'South Africa', 'Gambia'
    ],
    'North America': [
        'USA', 'Canada', 'Mexico'
    ],
    'Central America': [
        'Costa Rica', 'Grenada', 'Dominican Republic',
        'Honduras', 'Panama', 'Guadeloupe', 'Martinique', 'Haiti', 'Jamaica'
    ],
    'Asia': [
        'Japan', 'South Korea', 'Iran', 'Uzbekistan', 'Philippines', 'Jordan',
        'Syria'
    ],
    'Oceania': [
        'Australia', 'New Zealand'
    ]
}

country_to_continent = {}
for continent, countries in continent_map.items():
    for country in countries:
        country_to_continent[country] = continent

In [52]:
immigrants_league = pd.read_sql(
    """
    WITH player_data AS (
        SELECT 
            p.player_id,
            p.name AS player_name,
            p.nationality,
            t.team_id,
            t.name AS team_name,
            s.position AS team_ranking,
            l.league_id,
            l.name AS league_name,
            CASE
                WHEN l.name = 'Premier League' AND p.nationality IN ('England', 'Wales') THEN 0
                WHEN l.name = 'Serie A' AND p.nationality = 'Italy' THEN 0
                WHEN l.name = 'La Liga' AND p.nationality = 'Spain' THEN 0
                WHEN l.name = 'Bundesliga' AND p.nationality = 'Germany' THEN 0
                WHEN l.name = 'Ligue 1' AND p.nationality = 'France' THEN 0
                ELSE 1
            END AS is_immigrant
        FROM players p
        JOIN teams t ON p.team_id = t.team_id
        JOIN leagues l ON t.league_id = l.league_id
        JOIN standings s ON t.team_id = s.team_id
    ),
    nationality_counts AS (
        SELECT 
            league_name,
            nationality,
            COUNT(*) AS num_players
        FROM player_data
        WHERE is_immigrant = 1
        GROUP BY league_name, nationality
    ),
    nationality_summary AS (
        SELECT
            league_name,
            GROUP_CONCAT(CONCAT(nationality, ' (', num_players, ')') ORDER BY num_players DESC SEPARATOR ', ') AS immigrant_nationality_breakdown
        FROM nationality_counts
        GROUP BY league_name
    ),
    league_stats AS (
        SELECT 
            league_name,
            COUNT(*) AS total_players,
            SUM(is_immigrant) AS immigrant_players,
            ROUND(100.0 * SUM(is_immigrant) / COUNT(*), 2) AS immigrant_percentage
        FROM player_data
        GROUP BY league_name
    )
    SELECT
        ls.league_name,
        ls.total_players,
        ls.immigrant_players,
        ls.immigrant_percentage,
        ns.immigrant_nationality_breakdown
    FROM league_stats ls
    LEFT JOIN nationality_summary ns ON ls.league_name = ns.league_name
    ORDER BY ls.immigrant_percentage DESC
    """,
    engine
)

In [ ]:
immigrants_team = pd.read_sql(
    """
    WITH player_data AS (
        SELECT 
            p.player_id,
            p.name AS player_name,
            p.nationality,
            t.team_id,
            t.name AS team_name,
            s.position AS team_ranking,
            l.league_id,
            l.name AS league_name,
            CASE
                WHEN l.name = 'Premier League' AND p.nationality IN ('England', 'Wales') THEN 0
                WHEN l.name = 'Serie A' AND p.nationality = 'Italy' THEN 0
                WHEN l.name = 'La Liga' AND p.nationality = 'Spain' THEN 0
                WHEN l.name = 'Bundesliga' AND p.nationality = 'Germany' THEN 0
                WHEN l.name = 'Ligue 1' AND p.nationality = 'France' THEN 0
                ELSE 1
            END AS is_immigrant
        FROM players p
        JOIN standings s ON s.team_id = p.team_id
        JOIN teams t ON p.team_id = t.team_id
        JOIN leagues l ON t.league_id = l.league_id
    ),
    nationality_counts AS (
        SELECT 
            team_name,
            league_name,
            nationality,
            COUNT(*) AS num_players
        FROM player_data
        GROUP BY team_name, league_name, nationality
    ),
    nationality_summary AS (
        SELECT 
            team_name,
            league_name,
            GROUP_CONCAT(CONCAT(nationality, ' (', num_players, ')') ORDER BY num_players DESC SEPARATOR ', ') AS player_nationality_breakdown
        FROM nationality_counts
        GROUP BY team_name, league_name
    ),
    team_stats AS (
        SELECT 
            league_name,
            team_name,
            team_ranking,
            COUNT(*) AS team_total_players,
            SUM(is_immigrant) AS team_immigrant_players,
            ROUND(100 * SUM(is_immigrant) / COUNT(*), 2) AS team_immigrant_percentage
        FROM player_data
        GROUP BY league_name, team_name, team_ranking
    )
    SELECT 
        ts.league_name,
        ts.team_name,
        ts.team_ranking,
        ts.team_total_players,
        ts.team_immigrant_players,
        ts.team_immigrant_percentage,
        ns.player_nationality_breakdown
    FROM team_stats ts
    JOIN nationality_summary ns
      ON ts.team_name = ns.team_name AND ts.league_name = ns.league_name
    ORDER BY ts.league_name, ts.team_immigrant_percentage DESC
    """,
    engine)

In [59]:
import re
from collections import Counter

def get_most_represented_continent(breakdown_str):
    if not breakdown_str:
        return None
    
    country_counts = Counter()
    
    for match in re.findall(r'([A-Za-z\s\-]+) \((\d+)\)', breakdown_str):
        country, count = match
        country = country.strip()
        count = int(count)
        continent = country_to_continent.get(country)
        if continent:
            country_counts[continent] += count

    if not country_counts:
        return None
    
    top_2 = country_counts.most_common(2)
    return ', '.join([f"{continent} ({count})" for continent, count in top_2])

immigrants_team["top_immigrant_continents"] = immigrants_team["player_nationality_breakdown"].apply(get_most_represented_continent)

immigrants_league["top_immigrant_continents"] = immigrants_league["immigrant_nationality_breakdown"].apply(get_most_represented_continent)

In [60]:
pd.set_option('display.max_rows', None)
immigrants_team.head(1000)

,league_name,team_name,team_ranking,team_total_players,team_immigrant_players,team_immigrant_percentage,player_nationality_breakdown,dominant_continent,top_immigrant_continents
0,Bundesliga,Bayer 04 Leverkusen,1,29,20.0,68.97,"Germany (9), Czech Republic (3), Netherlands (...",Europe,"Europe (22), South America (4)"
1,Bundesliga,RB Leipzig,4,27,18.0,66.67,"Germany (9), France (3), Austria (3), Netherla...",Europe,"Europe (26), Africa (1)"
2,Bundesliga,VfL Wolfsburg,12,29,18.0,62.07,"Germany (11), Belgium (3), Denmark (2), Sweden...",Europe,"Europe (27), North America (1)"
3,Bundesliga,Eintracht Frankfurt,6,37,22.0,59.46,"Germany (15), France (4), Ecuador (2), Sweden ...",Europe,"Europe (28), South America (4)"
4,Bundesliga,FC Bayern Munchen,3,35,20.0,57.14,"Germany (15), France (4), Morocco (2), England...",Europe,"Europe (29), Africa (4)"
5,Bundesliga,Borussia Monchengladbach,14,32,18.0,56.25,"Germany (14), France (5), USA (2), Switzerland...",Europe,"Europe (27), North America (2)"
6,Bundesliga,1. FC Union Berlin,15,27,15.0,55.56,"Germany (12), Denmark (3), France (2), Tunisia...",Europe,"Europe (24), Africa (2)"
7,Bundesliga,SV Werder Bremen,9,30,15.0,50.00,"Germany (15), Austria (2), Belgium (2), France...",Europe,"Europe (26), South America (1)"
8,Bundesliga,FC Augsburg,11,30,14.0,46.67,"Germany (16), Switzerland (2), Croatia (2), Ne...",Europe,"Europe (29), South America (1)"
9,Bundesliga,VfL Bochum 1848,16,30,14.0,46.67,"Germany (16), Ghana (2), Brazil (2), Slovakia ...",Europe,"Europe (24), Africa (2)"
10,Bundesliga,Borussia Dortmund,5,33,15.0,45.45,"Germany (18), England (2), Netherlands (2), Sp...",Europe,"Europe (30), Africa (3)"
11,Bundesliga,TSG 1899 Hoffenheim,7,29,13.0,44.83,"Germany (16), Netherlands (2), Czech Republic ...",Europe,"Europe (25), Africa (3)"
12,Bundesliga,VfB Stuttgart,2,32,13.0,40.63,"Germany (19), France (4), Japan (3), Denmark (...",Europe,"Europe (25), Asia (5)"
13,Bundesliga,SC Freiburg,10,33,13.0,39.39,"Germany (20), Austria (3), France (2), Hungary...",Europe,"Europe (31), Asia (1)"
14,Bundesliga,SV Darmstadt 98,18,31,12.0,38.71,"Germany (19), Austria (3), Croatia (2), Sweden...",Europe,"Europe (29), Asia (1)"
15,Bundesliga,1. FSV Mainz 05,13,32,11.0,34.38,"Germany (21), France (3), Austria (2), Switzer...",Europe,"Europe (31), Asia (1)"
16,Bundesliga,1. FC Koln,17,30,7.0,23.33,"Germany (23), Denmark (2), Austria (2), Bosnia...",Europe,Europe (30)
17,Bundesliga,1. FC Heidenheim 1846,8,29,4.0,13.79,"Germany (25), Austria (2), USA (1), Gambia (1)",Europe,"Europe (27), North America (1)"
18,La Liga,Real Madrid CF,1,36,18.0,50.00,"Spain (18), France (4), Brazil (4), Germany (2...",Europe,"Europe (30), South America (5)"
19,La Liga,Sevilla FC,14,42,20.0,47.62,"Spain (22), Argentina (4), France (4), Belgium...",Europe,"Europe (33), South America (5)"
20,La Liga,Club Atletico de Madrid,4,38,18.0,47.37,"Spain (20), Brazil (3), Argentina (3), France ...",Europe,"Europe (29), South America (7)"
21,La Liga,Rayo Vallecano de Madrid,17,26,12.0,46.15,"Spain (14), France (2), Albania (1), North Mac...",Europe,"Europe (20), Africa (3)"
22,La Liga,UD Almeria,19,31,14.0,45.16,"Spain (17), Argentina (2), Serbia (2), Mali (1...",Europe,"Europe (21), South America (4)"
23,La Liga,Real Betis Balompie,7,36,16.0,44.44,"Spain (20), Argentina (3), Portugal (3), Franc...",Europe,"Europe (26), South America (6)"
24,La Liga,Getafe CF,12,35,14.0,40.00,"Spain (21), Uruguay (2), England (1), Ireland ...",Europe,"Europe (27), South America (5)"
25,La Liga,FC Barcelona,2,36,14.0,38.89,"Spain (22), Brazil (2), Portugal (2), Germany ...",Europe,"Europe (31), South America (3)"
26,La Liga,Granada CF,20,37,14.0,37.84,"Spain (23), Uruguay (3), Argentina (2), Poland...",Europe,"Europe (28), South America (5)"
27,La Liga,Cadiz CF,18,41,15.0,36.59,"Spain (26), Mali (4), Argentina (2), Uruguay (...",Europe,"Europe (26), Africa (7)"
28,La Liga,Deportivo Alaves,10,36,13.0,36.11,"Spain (23), Argentina (3), Romania (1), Urugua...",Europe,"Europe (27), South America (4)"
29,La Liga,Girona FC,3,31,11.0,35.48,"Spain (20), Venezuela (2), Ukraine (2), Brazil...",Europe,"Europe (24), South America (7)"
30,La Liga,Villarreal CF,8,37,12.0,32.43,"Spain (25), France (2), Andorra (1), Ivory Coa...",Europe,"Europe (32), Africa (3)"
31,La Liga,RCD Mallorca,15,31,10.0,32.26,"Spain (21), Serbia (3), Slovakia (2), Kosovo (...",Europe,"Europe (29), North America (1)"
32,La Liga,RC Celta de Vigo,13,38,12.0,31.58,"Spain (26), Sweden (2), Argentina (2), Greece ...",Europe,"Europe (31), South America (4)"
33,La Liga,UD Las Palmas,16,35,11.0,31.43,"Spain (24), Argentina (2), Equatorial Guinea (...",Europe,"Europe (26), Africa (6)"
34,La Liga,Valencia CF,9,34,9.0,26.47,"Spain (25), Portugal (2), Ghana (1), Turkey (1...",Europe,"Europe (31), Africa (2)"
35,La Liga,Real Sociedad de Futbol,6,35,9.0,25.71,"Spain (26), Venezuela (1), Japan (1), Mali (1)...",Europe,"Europe (30), South America (2)"
36,La Liga,CA Osasuna,11,29,3.0,10.34,"Spain (26), Greece (1), Croatia (1), Colombia (1)",Europe,"Europe (28), South America (1)"
37,La Liga,Athletic Club,5,30,1.0,3.33,"Spain (29), Ghana (1)",Europe,"Europe (29), Africa (1)"
38,Ligue 1,Olympique Lyonnais,6,29,20.0,68.97,"France (9), Brazil (3), Ivory Coast (2), Belgi...",Europe,"Europe (17), Africa (8)"
39,Ligue 1,Toulouse FC,11,33,22.0,66.67,"France (11), Netherlands (3), Denmark (2), Alg...",Europe,"Europe (23), Africa (7)"
40,Ligue 1,FC Metz,16,29,19.0,65.52,"France (10), Senegal (7), Algeria (2), Ivory C...",Africa,"Africa (15), Europe (13)"
41,Ligue 1,Olympique de Marseille,8,41,26.0,63.41,"France (15), Cameroon (3), Senegal (3), Belgiu...",Europe,"Europe (23), Africa (14)"
42,Ligue 1,AS Monaco FC,2,31,19.0,61.29,"France (12), Switzerland (3), Algeria (2), Sen...",Europe,"Europe (18), Africa (7)"
43,Ligue 1,FC Lorient,17,33,19.0,57.58,"France (14), Senegal (3), DR Congo (2), Camero...",Europe,"Europe (16), Africa (16)"
44,Ligue 1,Paris Saint-Germain FC,1,33,19.0,57.58,"France (14), Portugal (6), Spain (5), Brazil (...",Europe,"Europe (27), South America (3)"
45,Ligue 1,Lille OSC,4,36,20.0,55.56,"France (16), Portugal (4), Algeria (2), Brazil...",Europe,"Europe (29), Africa (3)"
46,Ligue 1,Stade de Reims,9,18,10.0,55.56,"France (8), Belgium (3), Ivory Coast (2), Sene...",Europe,"Europe (11), Africa (7)"
47,Ligue 1,Clermont Foot 63,18,29,13.0,44.83,"France (16), Mali (2), Jamaica (1), Gabon (1),...",Europe,"Europe (20), Africa (7)"
48,Ligue 1,Le Havre AC,15,29,12.0,41.38,"France (17), Morocco (3), Senegal (2), Guinea ...",Europe,"Europe (19), Africa (7)"
49,Ligue 1,RC Strasbourg Alsace,13,33,13.0,39.39,"France (20), Ivory Coast (4), Brazil (2), Pola...",Europe,"Europe (22), Africa (7)"
50,Ligue 1,Montpellier HSC,12,31,12.0,38.71,"France (19), Switzerland (2), Mali (2), Jordan...",Europe,"Europe (22), Africa (8)"
51,Ligue 1,Stade Rennais FC 1901,10,28,10.0,35.71,"France (18), Cameroon (2), Japan (1), Netherla...",Europe,"Europe (22), Africa (5)"
52,Ligue 1,Racing Club de Lens,7,31,11.0,35.48,"France (20), Belgium (1), Ecuador (1), Uzbekis...",Europe,"Europe (24), South America (3)"
53,Ligue 1,FC Nantes,14,35,12.0,34.29,"France (23), Cameroon (2), Spain (1), Comoros ...",Europe,"Europe (26), Africa (8)"
54,Ligue 1,OGC Nice,5,29,9.0,31.03,"France (20), Ivory Coast (1), Brazil (1), Buru...",Europe,"Europe (23), Africa (5)"
55,Ligue 1,Stade Brestois 29,3,26,7.0,26.92,"France (19), Portugal (1), Mali (1), Uruguay (...",Europe,"Europe (21), Africa (4)"
56,Premier League,Fulham,13,29,23.0,79.31,"England (5), Brazil (3), USA (2), Nigeria (2),...",Europe,"Europe (17), South America (4)"
57,Premier League,Burnley,19,30,23.0,76.67,"England (7), Belgium (5), France (4), Ireland ...",Europe,"Europe (25), South America (2)"
58,Premier League,Brentford,16,36,27.0,75.00,"England (9), Denmark (5), Ireland (2), Nigeria...",Europe,"Europe (28), Africa (4)"
59,Premier League,Nottingham Forest,17,32,23.0,71.88,"England (7), Brazil (3), Belgium (2), Portugal...",Europe,"Europe (19), South America (5)"
60,Premier League,Manchester City,1,27,17.0,62.96,"England (10), Portugal (3), Spain (3), Norway ...",Europe,"Europe (25), South America (2)"
61,Premier League,Tottenham Hotspur,5,32,20.0,62.50,"England (10), Spain (3), Brazil (2), Italy (2)...",Europe,"Europe (24), South America (5)"
62,Premier League,Liverpool,3,38,23.0,60.53,"England (14), Spain (3), Netherlands (3), Pola...",Europe,"Europe (31), South America (4)"
63,Premier League,Brighton & Hove Albion,11,38,23.0,60.53,"England (15), Ireland (3), Netherlands (3), Br...",Europe,"Europe (27), South America (6)"
64,Premier League,Arsenal,2,32,19.0,59.38,"England (12), Portugal (3), Brazil (3), Japan ...",Europe,"Europe (26), South America (3)"
65,Premier League,Manchester United,8,34,20.0,58.82,"England (14), Argentina (2), Brazil (2), Franc...",Europe,"Europe (25), Africa (5)"
66,Premier League,Aston Villa,4,34,20.0,58.82,"England (14), France (4), Spain (3), Brazil (2...",Europe,"Europe (27), South America (5)"
67,Premier League,AFC Bournemouth,12,31,18.0,58.06,"England (12), Scotland (2), Ireland (2), Wales...",Europe,"Europe (25), South America (3)"
68,Premier League,Wolverhampton Wanderers,14,32,17.0,53.13,"England (14), Portugal (4), Brazil (2), France...",Europe,"Europe (24), South America (4)"
69,Premier League,West Ham United,9,29,14.0,48.28,"England (15), Czech Republic (2), Italy (2), F...",Europe,"Europe (23), Africa (3)"
70,Premier League,Chelsea,6,47,20.0,42.55,"England (27), France (7), Brazil (2), Spain (2...",Europe,"Europe (42), South America (4)"
71,Premier League,Crystal Palace,10,33,14.0,42.42,"England (19), France (4), Colombia (2), Ghana ...",Europe,"Europe (26), South America (3)"
72,Premier League,Luton Town,18,35,14.0,40.00,"England (19), Wales (2), Belgium (2), Netherla...",Europe,"Europe (29), Africa (4)"
73,Premier League,Newcastle United,7,38,15.0,39.47,"England (22), Scotland (3), Sweden (2), Brazil...",Europe,"Europe (34), South America (3)"
74,Premier League,Everton,15,29,11.0,37.93,"England (18), Portugal (4), Senegal (1), Mali ...",Europe,"Europe (27), Africa (2)"
75,Serie A,Udinese Calcio,15,34,28.0,82.35,"Italy (6), Slovenia (4), Argentina (4), Nigeri...",Europe,"Europe (23), South America (6)"
76,Serie A,US Lecce,14,29,22.0,75.86,"Italy (7), France (4), Albania (3), Romania (2...",Europe,"Europe (24), Africa (3)"
77,Serie A,Genoa CFC,11,31,21.0,67.74,"Italy (10), Norway (2), Spain (2), Suriname (1...",Europe,"Europe (25), South America (3)"
78,Serie A,Torino FC,9,34,23.0,67.65,"Italy (11), Serbia (3), France (2), Poland (1)...",Europe,"Europe (27), Africa (4)"
79,Serie A,Bologna FC 1909,5,30,20.0,66.67,"Italy (10), Switzerland (3), Denmark (2), Pola...",Europe,"Europe (27), South America (2)"
80,Serie A,SSC Napoli,10,29,19.0,65.52,"Italy (10), Brazil (2), Poland (2), Belgium (2...",Europe,"Europe (22), South America (4)"
81,Serie A,Hellas Verona FC,13,33,20.0,60.61,"Italy (13), France (3), Netherlands (2), Polan...",Europe,"Europe (28), South America (3)"
82,Serie A,AC Milan,2,38,23.0,60.53,"Italy (15), France (7), USA (2), England (2), ...",Europe,"Europe (33), Africa (3)"
83,Serie A,AS Roma,6,38,23.0,60.53,"Italy (15), Spain (4), Portugal (3), England (...",Europe,"Europe (32), South America (3)"
84,Serie A,FC Internazionale Milano,1,32,19.0,59.38,"Italy (13), France (3), Netherlands (3), Germa...",Europe,"Europe (26), South America (4)"
85,Serie A,US Salernitana 1919,20,39,23.0,58.97,"Italy (16), France (4), Argentina (3), Croatia...",Europe,"Europe (30), South America (4)"
86,Serie A,Frosinone Calcio,18,36,20.0,55.56,"Italy (16), Brazil (3), Morocco (3), Argentina...",Europe,"Europe (25), South America (6)"
87,Serie A,SS Lazio,7,33,17.0,51.52,"Italy (16), Spain (4), Brazil (1), Montenegro ...",Europe,"Europe (27), South America (4)"
88,Serie A,US Sassuolo Calcio,19,33,17.0,51.52,"Italy (16), Norway (3), Albania (2), Brazil (2...",Europe,"Europe (28), South America (2)"
89,Serie A,Cagliari Calcio,16,30,15.0,50.00,"Italy (15), Uruguay (1), Colombia (1), Slovaki...",Europe,"Europe (21), South America (4)"
90,Serie A,Atalanta BC,4,38,19.0,50.00,"Italy (19), Netherlands (4), Argentina (2), Sw...",Europe,"Europe (32), South America (3)"
91,Serie A,ACF Fiorentina,8,32,16.0,50.00,"Italy (16), Argentina (4), France (3), Brazil ...",Europe,"Europe (22), South America (6)"
92,Serie A,Juventus FC,3,37,18.0,48.65,"Italy (19), Brazil (4), Poland (2), France (2)...",Europe,"Europe (30), South America (5)"
93,Serie A,Empoli FC,17,33,15.0,45.45,"Italy (18), Poland (3), Albania (3), Romania (...",Europe,"Europe (28), Africa (4)"
94,Serie A,AC Monza,12,34,10.0,29.41,"Italy (24), Portugal (2), Greece (1), France (...",Europe,"Europe (31), Africa (2)"

In [61]:
immigrants_league

,league_name,total_players,immigrant_players,immigrant_percentage,immigrant_nationality_breakdown,dominant_continent,top_immigrant_continents
0,Serie A,673,388.0,57.65,"France (35), Argentina (25), Brazil (24), Spai...",Europe,"Europe (256), South America (64)"
1,Premier League,636,361.0,56.76,"France (32), Brazil (29), Portugal (22), Spain...",Europe,"Europe (229), South America (58)"
2,Ligue 1,554,273.0,49.28,"Senegal (21), Ivory Coast (18), Brazil (16), P...",Africa,"Africa (131), Europe (95)"
3,Bundesliga,555,262.0,47.21,"France (32), Austria (27), Denmark (13), Nethe...",Europe,"Europe (197), Africa (27)"
4,La Liga,694,246.0,35.45,"Argentina (27), France (21), Brazil (19), Urug...",Europe,"Europe (110), South America (73)"

In [ ]:
immigrants_country = pd.read_sql(
    """
    WITH player_data AS (
        SELECT 
            p.player_id,
            p.nationality,
            l.name AS league_name,
            CASE
                WHEN l.name = 'Premier League' AND p.nationality IN ('England', 'Wales') THEN 0
                WHEN l.name = 'Serie A' AND p.nationality = 'Italy' THEN 0
                WHEN l.name = 'La Liga' AND p.nationality = 'Spain' THEN 0
                WHEN l.name = 'Bundesliga' AND p.nationality = 'Germany' THEN 0
                WHEN l.name = 'Ligue 1' AND p.nationality = 'France' THEN 0
                ELSE 1
            END AS is_immigrant,
            p.age
        FROM players p
        JOIN teams t ON p.team_id = t.team_id
        JOIN leagues l ON t.league_id = l.league_id
    ),
    filtered_data AS (
        SELECT * FROM player_data WHERE is_immigrant = 1
    ),
    nationality_dest_counts AS (
        SELECT 
            nationality,
            league_name,
            COUNT(*) AS players_in_league
        FROM filtered_data
        GROUP BY nationality, league_name
    ),
    destination_summary AS (
        SELECT 
            nationality,
            GROUP_CONCAT(CONCAT(league_name, ' (', players_in_league, ')') ORDER BY players_in_league DESC SEPARATOR ', ') AS destination_breakdown
        FROM nationality_dest_counts
        GROUP BY nationality
    ),
    nationality_stats AS (
        SELECT 
            nationality,
            COUNT(*) AS num_players,
            ROUND(AVG(age), 1) AS avg_age
        FROM filtered_data
        GROUP BY nationality
    )
    SELECT 
        ns.nationality,
        ns.num_players,
        ns.avg_age,
        ds.destination_breakdown
    FROM nationality_stats ns
    LEFT JOIN destination_summary ds ON ns.nationality = ds.nationality
    ORDER BY ns.num_players DESC
    """,
    engine
)

immigrants_country["continent"] = immigrants_country["nationality"].map(country_to_continent)

immigrants_country

,nationality,num_players,avg_age,destination_breakdown,continent
0,France,120,26.0,"Serie A (35), Premier League (32), Bundesliga ...",Europe
1,Brazil,95,26.9,"Premier League (29), Serie A (24), La Liga (19...",South America
2,Argentina,73,27.4,"La Liga (27), Serie A (25), Premier League (14...",South America
3,Portugal,69,26.2,"Premier League (22), Ligue 1 (15), Serie A (14...",Europe
4,Netherlands,59,27.3,"Premier League (18), Serie A (17), Bundesliga ...",Europe
5,Spain,58,26.6,"Premier League (21), Serie A (19), Ligue 1 (10...",Europe
6,Belgium,54,25.5,"Premier League (16), Bundesliga (11), Ligue 1 ...",Europe
7,Denmark,40,26.7,"Bundesliga (13), Premier League (12), Serie A ...",Europe
8,Ivory Coast,39,25.6,"Ligue 1 (18), Serie A (8), Premier League (6),...",Africa
9,Serbia,37,27.0,"Serie A (17), La Liga (11), Ligue 1 (4), Bunde...",Europe
10,Senegal,37,25.2,"Ligue 1 (21), La Liga (6), Premier League (5),...",Africa
11,Switzerland,34,27.7,"Ligue 1 (12), Bundesliga (11), Serie A (6), Pr...",Europe
12,Austria,34,28.4,"Bundesliga (27), Serie A (4), Ligue 1 (2), La ...",Europe
13,Poland,32,27.3,"Serie A (15), Premier League (6), Ligue 1 (4),...",Europe
14,Nigeria,29,25.8,"Serie A (12), Premier League (8), Ligue 1 (5),...",Africa
15,Morocco,29,26.2,"Ligue 1 (12), La Liga (7), Serie A (6), Premie...",Africa
16,Ghana,28,27.4,"Ligue 1 (7), Premier League (6), La Liga (5), ...",Africa
17,Germany,25,28.1,"Premier League (11), Serie A (8), La Liga (4),...",Europe
18,Croatia,25,27.9,"Bundesliga (10), Serie A (9), Ligue 1 (2), La ...",Europe
19,Sweden,24,24.9,"Bundesliga (7), Premier League (7), Serie A (6...",Europe
20,USA,24,25.6,"Bundesliga (8), Premier League (7), Serie A (4...",North America
21,Cameroon,24,25.2,"Ligue 1 (12), Premier League (4), Serie A (4),...",Africa
22,Uruguay,24,27.2,"La Liga (14), Serie A (5), Premier League (3),...",South America
23,Norway,22,25.0,"Serie A (6), Bundesliga (5), Premier League (5...",Europe
24,Ireland,22,25.4,"Premier League (17), Serie A (2), Ligue 1 (1),...",Europe
25,Algeria,22,25.5,"Ligue 1 (13), La Liga (3), Serie A (3), Bundes...",Africa
26,Mali,20,26.2,"Ligue 1 (7), La Liga (6), Premier League (4), ...",Africa
27,Scotland,18,25.1,"Premier League (14), Serie A (2), Bundesliga (...",Europe
28,Colombia,18,27.8,"Premier League (6), La Liga (5), Serie A (5), ...",South America
29,Albania,18,24.2,"Serie A (13), Premier League (2), La Liga (2),...",Europe
30,England,18,25.7,"Serie A (7), Bundesliga (6), Ligue 1 (3), La L...",Europe
31,Japan,17,27.5,"Bundesliga (9), Premier League (4), Ligue 1 (2...",Asia
32,Czech Republic,17,26.9,"Bundesliga (10), Serie A (4), Premier League (...",Europe
33,Greece,15,27.0,"Serie A (7), Premier League (3), La Liga (3), ...",Europe
34,Italy,14,27.0,"Premier League (8), Bundesliga (3), Ligue 1 (2...",Europe
35,Slovakia,13,28.1,"Serie A (5), La Liga (3), Ligue 1 (2), Premier...",Europe
36,Turkey,13,24.5,"Serie A (4), Premier League (3), Ligue 1 (2), ...",Europe
37,Ukraine,12,26.8,"Premier League (5), La Liga (4), Serie A (2), ...",Europe
38,Romania,12,23.8,"Serie A (7), La Liga (3), Premier League (2)",Europe
39,Hungary,10,26.6,"Bundesliga (5), La Liga (2), Premier League (2...",Europe
40,DR Congo,10,27.6,"Ligue 1 (4), Premier League (3), La Liga (2), ...",Africa
41,Slovenia,9,23.9,"Serie A (6), Bundesliga (2), La Liga (1)",Europe
42,Guinea,9,26.1,"Bundesliga (3), Ligue 1 (3), La Liga (2), Seri...",Africa
43,Kosovo,8,29.0,"Serie A (2), Bundesliga (2), Ligue 1 (2), Prem...",Europe
44,South Korea,7,27.1,"Bundesliga (3), Premier League (3), Ligue 1 (1)",Asia
45,Georgia,7,22.9,"Serie A (4), La Liga (2), Ligue 1 (1)",Europe
46,Tunisia,7,26.9,"Ligue 1 (3), Bundesliga (2), Serie A (1), La L...",Africa
47,Jamaica,6,30.7,"Premier League (5), Ligue 1 (1)",Central America
48,Australia,6,22.7,"Premier League (3), Bundesliga (1), Serie A (1...",Oceania
49,Ecuador,6,23.2,"Bundesliga (3), Premier League (2), Ligue 1 (1)",South America
50,Finland,6,24.5,"Bundesliga (3), Ligue 1 (1), Premier League (1...",Europe
51,Mexico,6,29.5,"Premier League (2), La Liga (2), Serie A (2)",North America
52,Canada,6,24.5,"La Liga (2), Bundesliga (1), Serie A (1), Ligu...",North America
53,Paraguay,6,25.2,"Premier League (3), Serie A (2), La Liga (1)",South America
54,Gabon,6,27.8,"Ligue 1 (4), Serie A (1), Premier League (1)",Africa
55,Bosnia-Herzegovina,6,26.5,"Serie A (3), Bundesliga (2), Ligue 1 (1)",Europe
56,Northern Ireland,5,23.6,Premier League (5),Europe
57,Chile,5,33.4,"Ligue 1 (2), Premier League (1), Serie A (1), ...",South America
58,Burkina Faso,5,24.6,"Premier League (2), La Liga (1), Ligue 1 (1), ...",Africa
59,Equatorial Guinea,5,27.6,"Serie A (2), La Liga (2), Ligue 1 (1)",Africa
60,Venezuela,5,24.8,"La Liga (4), Ligue 1 (1)",South America
61,Egypt,4,29.3,"Premier League (2), Ligue 1 (1), Bundesliga (1)",Africa
62,Israel,4,24.3,"Bundesliga (2), Serie A (1), Premier League (1)",Europe
63,Iceland,4,26.5,"Premier League (2), Ligue 1 (1), Serie A (1)",Europe
64,Zimbabwe,4,28.0,"Ligue 1 (2), Premier League (1), Serie A (1)",Africa
65,Angola,4,28.8,"Ligue 1 (2), Serie A (2)",Africa
66,Russia,4,27.8,"Ligue 1 (2), Serie A (1), La Liga (1)",Europe
67,Comoros,4,21.8,Ligue 1 (4),Africa
68,Congo,3,24.0,"Serie A (1), La Liga (1), Ligue 1 (1)",Africa
69,Armenia,3,29.7,"Bundesliga (2), Serie A (1)",Europe
70,Montenegro,3,30.3,"Serie A (2), La Liga (1)",Europe
71,Cyprus,3,22.7,"Serie A (2), La Liga (1)",Europe
72,Benin,3,25.7,"Ligue 1 (2), La Liga (1)",Africa
73,North Macedonia,3,26.7,"Bundesliga (2), La Liga (1)",Europe
74,Central African Republic,3,31.0,Ligue 1 (3),Africa
75,Haiti,3,23.0,Ligue 1 (3),Central America
76,Estonia,2,22.0,"Premier League (1), Serie A (1)",Europe
77,South Africa,2,26.5,"Premier League (1), Ligue 1 (1)",Africa
78,New Zealand,2,28.5,"Premier League (1), Serie A (1)",Oceania
79,Iran,2,30.5,"Premier League (1), Serie A (1)",Asia
80,Peru,2,32.0,"La Liga (1), Serie A (1)",South America
81,Uzbekistan,2,25.0,"Ligue 1 (1), Serie A (1)",Asia
82,Bulgaria,2,20.0,Serie A (2),Europe
83,Zambia,2,23.0,Serie A (2),Africa
84,Suriname,2,30.5,"Serie A (1), La Liga (1)",South America
85,Martinique,2,27.5,"Serie A (1), Ligue 1 (1)",Central America
86,Mozambique,2,29.0,La Liga (2),Africa
87,Togo,2,32.0,"Bundesliga (1), La Liga (1)",Africa
88,Cape Verde Islands,2,29.0,"Ligue 1 (1), La Liga (1)",Africa
89,Guadeloupe,2,27.5,"La Liga (1), Ligue 1 (1)",Central America
90,Dominican Republic,2,26.0,La Liga (2),Central America
91,Syria,2,27.0,"Bundesliga (1), La Liga (1)",Asia
92,Costa Rica,2,36.5,"Ligue 1 (1), Bundesliga (1)",Central America
93,Gambia,2,23.0,"Ligue 1 (1), Bundesliga (1)",Africa
94,Grenada,1,27.0,Premier League (1),Central America
95,Lithuania,1,21.0,Serie A (1),Europe
96,Andorra,1,23.0,La Liga (1),Europe
97,Honduras,1,32.0,La Liga (1),Central America
98,Luxembourg,1,25.0,Bundesliga (1),Europe
99,Philippines,1,30.0,Bundesliga (1),Asia
100,Panama,1,29.0,Ligue 1 (1),Central America
101,Jordan,1,27.0,Ligue 1 (1),Asia
102,Burundi,1,26.0,Ligue 1 (1),Africa
103,Guinea-Bissau,1,29.0,Ligue 1 (1),Africa
104,French Guiana,1,32.0,Ligue 1 (1),South America
105,Kenya,1,28.0,Ligue 1 (1),Africa