In [1]:
pip install mysql-connector-python sqlalchemy pandas

Collecting mysql-connector-python
  Downloading mysql_connector_python-9.3.0-cp312-cp312-win_amd64.whl.metadata (7.7 kB)
Requirement already satisfied: sqlalchemy in c:\users\hsdc\anaconda3\lib\site-packages (2.0.34)
Requirement already satisfied: pandas in c:\users\hsdc\anaconda3\lib\site-packages (2.2.2)
Requirement already satisfied: typing-extensions>=4.6.0 in c:\users\hsdc\anaconda3\lib\site-packages (from sqlalchemy) (4.11.0)
Requirement already satisfied: greenlet!=0.4.17 in c:\users\hsdc\anaconda3\lib\site-packages (from sqlalchemy) (3.0.1)
Requirement already satisfied: numpy>=1.26.0 in c:\users\hsdc\anaconda3\lib\site-packages (from pandas) (1.26.4)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\hsdc\anaconda3\lib\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\hsdc\anaconda3\lib\site-packages (from pandas) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in c:\users\hsdc\anaconda3\lib\site-packages (from pandas) (2023.3)
Requirement already satisfied: six>=1.5 in c:\users\hsdc\anaconda3\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Downloading mysql_connector_python-9.3.0-cp312-cp312-win_amd64.whl (16.4 MB)
   ---------------------------------------- 0.0/16.4 MB ? eta -:--:--
   -------------------- ------------------- 8.4/16.4 MB 47.2 MB/s eta 0:00:01
   ---------------------------------------- 16.4/16.4 MB 44.8 MB/s eta 0:00:00
Installing collected packages: mysql-connector-python
Successfully installed mysql-connector-python-9.3.0
Note: you may need to restart the kernel to use updated packages.

In [15]:
from sqlalchemy import create_engine
import pandas as pd

user = 'jupyter_user'
password = '666-Zelda'
host = 'localhost'
port = '3306'
database = 'football'

engine = create_engine(f"mysql+mysqlconnector://{user}:{password}@{host}/{database}")

In [16]:
engine.connect()

In [17]:
with open('Football.sql', 'r', encoding='utf-8') as f:
    sql_script = f.read()

import mysql.connector

conn = mysql.connector.connect(
    host=host,
    user=user,
    password=password,
    database=database
)

cursor = conn.cursor()
for statement in sql_script.split(';'):
    if statement.strip():
        cursor.execute(statement)
conn.commit()
cursor.close()
conn.close()

In [18]:
df = pd.read_sql("SELECT * FROM players", engine)
df

,player_id,team_id,name,position,date_of_birth,nationality
0,2,264,Juanmi,Offence,1993-05-20,Spain
1,8,90,Willian Jose,Offence,1991-11-23,Brazil
2,9,100,Diego Llorente,Defence,1993-08-16,Spain
3,11,92,Alvaro Odriozola,Defence,1995-12-14,Spain
4,14,586,Antonio Sanabria,Offence,1996-03-04,Paraguay
...,...,...,...,...,...,...
3145,252916,455,Luca Boncori,Offence,2006-02-21,Italy
3146,252918,450,Junior Ajayi,Offence,2004-10-11,Ivory Coast
3147,252993,558,Yoel Lago,Midfield,2004-03-25,Spain
3148,253001,558,Javi Rueda,Defence,2002-05-08,Spain
3149,253004,264,Borja Vazquez,Offence,2005-01-18,Spain